.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#chatContainer {
  width: 92%;
  height: 700px;
  padding: 3vw;
}

#chatWindow {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#output {
  max-width: 600px;
  width: 100%;
  height: 75%;
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(200, 200, 200);
  padding: 10px
}

#user {
  margin-top: 20px;
  max-width: 593px;
  width: 99%;
  height: 5%;
  margin-bottom: 5px;
  border-radius: 10px;
}

#message {
  max-width: 593px;
  width: 99%;
  height: 15%;
  margin-bottom: 15px;
  border-radius: 10px;
}

#send {
  max-width: 600px;
  width: 100%;
  height: 5%;
  background-color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}